<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>

<body>
    <header>
        <div class="nav1">
            <nav>
                <div class="logo">
                    <a href="/home">
                        <img src="assets/images/amazon_logo.png" alt="" class="border">
                    </a>
                </div>
                <div class="location">
                    <a href="/home">
                        <div class="country border">
                            <img src="assets/images/location_icon.png" alt="" height="15px" width="18px">
                            <div>
                                <p>Deliver to</p>
                                <h1>India</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div></div>
                <div class="search">
                    <div class="category">
                        <select name="categories">
                            <option value="">All</option>
                            <option value="">Phones</option>
                            <option value="">Groceries</option>
                            <option value="">Beauty and Personal</option>
                            <option value="">Home and Kitchen</option>
                        </select>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Search Amazon">
                    </div>
                    <div class="search-icon">
                        <button>
                            <img src="assets/images/search_icon.png" alt="">
                        </button>
                    </div>
                </div>
                <div class="flag border">
                    <a href="/home">
                        <div>
                            <img src="assets/images/us_flag.png" alt="">
                        </div>
                        <div>
                            EN
                        </div>
                    </a>
                </div>
                <div class="login border">
                    <a href="/login">
                        <div>
                            <p>Hello, sign in</p>
                        </div>
                        <div>
                            <h1>Accounts & Lists</h1>
                        </div>
                    </a>
                </div>
                <div class="orders border">
                    <a href="/home">
                        <div>
                            <p>Returns</p>
                        </div>
                        <div>
                            <h1>& Orders</h1>
                        </div>
                    </a>
                </div>
                <div class="cart border">
                    <a href="/home">
                        <div>
                            <img src="assets/images/cart_icon.png" alt="">
                        </div>
                        <div>
                            <h1>Cart</h1>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="nav2">
            <nav>
                <div class="menu border">
                    <div class="bar">
                        <hr>
                        <hr>
                        <hr>
                    </div>

                    <div>
                        <a href="/home">
                            <h1>All</h1>
                        </a>
                    </div>
                </div>
                <div *ngFor="let item of navBarItems" class="border">
                    <a href="/home">{{item}}</a>
                </div>
                <div class="border">
                    <a href="/home">
                        <h1>Shop the Biggest Spring Sale</h1>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="hero">
            <img src="assets/images/hero_image.jpg" alt="">
        </div>
        <div class="main-container1">
            <div class="box-row">
                <div *ngFor="let item of boxItems1" class="box-col">
                    <div>
                        <h1>{{item.title}}</h1>
                    </div>
                    <div><a href="#">
                            <img src="{{item.image}}" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>
            <div class="box-row">
                <div *ngFor="let item of boxItems2" class="box-col">
                    <div>
                        <h1>{{item.title}}</h1>
                    </div>
                    <div><a href="#">
                            <img src="{{item.image}}" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>
            <div class="bestseller">
                <div class="bestseller-head">
                    <h1>Best Sellers in Sports and Outdoors</h1>
                </div>
                <div class="bestseller-content">
                    <div *ngFor="let item of bestSeller">
                        <a href="">
                            <img src="{{item}}" alt="">
                        </a>

                    </div>
                </div>

            </div>
            <div class="box-row">
                <div *ngFor="let item of boxItems3" class="box-col">
                    <div>
                        <h1>{{item.title}}</h1>
                    </div>
                    <div><a href="#">
                            <img src="{{item.image}}" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">Show More</a>
                    </div>
                </div>
            </div>
            <div class="deals-under">
                <div class="deals-under-head">
                    <h1>Deals under $5</h1>
                </div>
                <div class="slider">
                    <div class="deals-under-content" *ngFor="let item of deals">
                        <a href="">
                            <div class="deal-image"><img src="{{item.image}}" alt=""></div>
                            <div class="offer">
                                <div class="off">
                                    {{item.offer}}
                                </div>
                                <div>Limited time deal</div>
                            </div>
                            <div class="price">
                                <div class="pr">
                                    {{item.price}}
                                </div>
                                List Price: <s>$8</s>
                            </div>
                            <div class="desc">{{item.desc}}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sign-in">
                <div class="gap">
                    <hr>
                </div>
                See personalized recommendations
                <a href="/login">
                    <div class="sign-in-button"><button>Sign in</button></div>
                </a>
                <div class="log-in">
                    New customer? <a href="">Start here</a>
                </div>
                <div class="gap">
                    <hr>
                </div>
            </div>
        </div>
    </main>
    <footer class="foot1">
        <div>Back to top</div>
    </footer>
</body>

</html>